certifi==2020.6.20
click==7.1.2
fastapi==0.61.1
h11==0.10.0
pydantic==1.6.1
starlette==0.13.6
uvicorn==0.12.1
asyncpg==0.20.0
databases[postgresql]==0.2.6
#dev
pylint==2.6.0
pytest==6.1.0
requests==2.24.0